@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,700;1,300&family=PT+Serif:ital@1&display=swap');
// * font des titres
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
// * font du text
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,600&display=swap');
//  * font Link
@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");
:root {
  --primary: #2b9348;
  --secondary: #e6ccb2;
  --title: #cbf3f0;
  --orange: #ffbf69;
  --white: #ffffff;
  --cyan: #cbf3f0;
  --basic: #ff0054;
  --intermediate: #00509d;
  --advanced: #9e0059;
  --expert: #390099;
}

.purple {
  color: var(--expert);
}
.primary {
  color :  var(--primary);
}

.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
div {
  min-width: '100%';
  min-height: '100%';
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}
h2,
h1 {
  text-align: center;
  color: var(--expert);
  font-family: Times, Times New Roman, serif;
}
span {
  font-family: 'Spectral', serif;
  font-size: 20px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

// * Global
.center-block {
  margin: auto !important;
}
.left-text {
  text-align: left !important;
}

.center-text {
  text-align: center !important;
}

.justify-text {
  text-align: justify !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}
.bottom-space {
  margin-bottom: 10px;
}

// * NavBar
.navbar {
  background-color: var(--secondary);
}
.navitem {
  text-align: center;
  min-height: 2rem;
  min-width: 5rem;
  margin: auto;
  vertical-align: middle;
}
// * Deleted link style
.navlink {
  color: var(--white);
  font-size: large;
}
.navlink:link {
  text-decoration: none;
}
.navlink:visited {
  text-decoration: none;
}
.navlink:hover {
  text-decoration: none;
}
.navlink:active {
  text-decoration: none;
}

// * Home
.cool-card {
  min-width: 20%;
  min-height: 20%;
}

.blockContent {
  text-align: justify;
  padding: 1%;
}
.text-footer {
  text-align: center;
  padding: 2%;
  font-family: 'PT Serif', serif;
  font-size: xx-large;
}

.text {
  font-family: 'Arvo', serif;
  font-size: large;
}

.big-title,
.title {
  font-family: 'Arvo', serif;
  font-size: x-large;
}

.blue {
  color: var(--intermediate);
}

.column {
  display: flex;
  flex-direction: column;
}

.border {
  border: 5px double #2ec4b6;
  border-radius: 40px;
}

header {
  margin : 15px;
  min-height: 55px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
