:root {
  --dark-orange: #ff9f1c;
  --orange: #ffbf69;
  --white: #ffffff;
  --cyan: #cbf3f0;
  --clear-blue: #2ec4b6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
div {
  min-width: '100%';
  min-height: '100%';
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-orange);
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

// * Global
.center-block {
  margin: auto !important;
}
.left-text {
  text-align: left !important;
}

.center-text {
  text-align: center !important;
}

.justify-text {
  text-align: justify !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

// * NavBar
.navbar {
  background-color: var(--clear-blue);
}
.navitem {
  text-align: center;
  min-height: 2rem;
  min-width: 5rem;
  margin: auto;
  vertical-align: middle;
}
// * Deleted link style
.navlink {
  color: var(--white);
  font-size: large;
}
.navlink:link {
  text-decoration: none;
}
.navlink:visited {
  text-decoration: none;
}
.navlink:hover {
  text-decoration: none;
}
.navlink:active {
  text-decoration: none;
}

// * Home
.cool-card {
  min-width: 20%;
  min-height: 20%;
}
